#promociones {
	margin: 35px 30px 0px 30px;
	height: 250px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.7);
}

#lista {
	width: 25%;
	background-color: white;
	float: left;
}

#lista ul {
	padding: 0px;
	margin: 0px;
}

#lista li {
	padding: 15.6px 0px;
	background-image: linear-gradient(to right, rgb(135, 153, 31), rgba(135, 153, 31, 0.8), rgba(135, 153, 31, 0.6));
	list-style-type: none;
    position: relative;
}

#lista li:hover{
	background-color: black !important;
}

#lista a {
	text-decoration: none;
	color: white;
	padding: 10px 15px 10px 15px;
}

.lista:hover:after {
	content: "";
	position: absolute;
	left: 100%;
	top: 15px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 11px solid rgb(81 ,92, 18);
	border-bottom: 10px solid transparent;
}

#imagen {
	background-color: #A1A1A1;
	width: 45%;
	height: 250px;
	float: left;
}

#promocion {
	width: 30%;
	height: 250px;
	background-image: url('../img/logo1.png');
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #D1D1D1;
	float: left;
}

.compra {
	float: left;
	width: 16%;
	margin-top: 40px;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0px 15px;
	border: 5px solid;
	border-color: white;
  	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	height: 200px;
}

.compra h1 {
	background-color: rgba(255, 255, 255, 0.6);
	padding:  15px 25px;
	color: black;
	text-align: center;
	margin-top: 70px;
	font-size: 24px;
}

.compra p {
	background-color: rgba(255, 255, 255, 0.5);
	padding:  10px 25px;
	color: black;
}

#buscador {
	clear: both;
	float: right;
	padding: 40px 60px 10px 0px;
}

#about {
	clear: both;
    background-image: url(../img/back3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 200px;
    padding: 45px;
}

#about section {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1px 15px;
	text-align: center;
}

h1 {
	font-size: 32px;
}

p {
	font-size: 24px;
}

#contact {
  	color: black;
	padding: 15px;
	margin: 70px 15px 15px 15px;
	padding-bottom: 420px;
	border: 1px solid;
}

#contact h1 {
	text-align: center;
}

#contact #uno {
	float: left;
	width: 49%;
}

#contact #dos {
	float: left;
	width: 49%;
}

#contact textarea {
	width: 100%;
}

#options {
	clear: both;
}

#options br {
	clear: both;
}
