<!DOCTYPE html>
<html lang="es" ng-app="market">
	<head>
		<title>Market Online</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">

		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="js/javascript.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
	</head>

	<body ng-controller="ProductListCtrl">

		<header>
			<div id="banner">
				<h1>Market Online</h1>
			</div>
			<div id="gradient"></div>
			<nav class="navHeader">
				<ul>
					<li><a href="index.html"><p>Inicio</p></a></li>
					<li><a href="#about"><p>Acerca</p></a></li>
					<li><a href="#contact"><p>Contáctanos</p></a></li>
					<li><a href=""><p>Locales</p></a></li>
					<li><a href=""><p>Promociones</p></a></li>
					<li><a href=""><p>Iniciar Sesión</p></a></li>
				</ul>
			</nav>
		</header>

		<div id="buscador">
			<form>
				<label>¿Estás buscando algo en específico? </label>
				<input type="text" ng-model="query">
			</form>
		</div>
		
		<div id="options">

			<a href={{product.id}}.html ng-repeat="product in products | filter:query" class="opcion">
				<section id={{product.id}} class="compra">
					<article>
						<h1 class="h1">{{product.name}}</h1>
					</article>
				</section>
			</a>

			<br>
			<br>
			<br>
			<br>

		</div>

		<div id="about">
			<section class="uno">
				<article>
					<h1>¿Quiénes somos?</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</article>
			</section>
		</div>

		<div id="contact">
			<h1>¡Contáctanos!</h1>	
			<section id="uno">
				<article>
					<ul>
						<li><p><strong>Teléfonos: </strong><ul><li>999999999</li><li>999999999</li></ul></li>
						<li><p><strong>E-mail: </strong><ul><li>MarketOnline@gmail.com</li></ul></p></li>
						<li><p><strong>Dirección: </strong><ul><li>Av. 123456 & Av. 098776</li></ul></p></li>
					</ul>
				</article>
			</section>
			<section id="dos">
				<form>
			  		<table id="tabla2">
			  			<tr>
			  				<th>Nombre: </th>
					  		<td><input type="text" name="nombre"></td>
			  			</tr>
			  			<tr>
			  				<th>Apellido: </th>
			  				<td><input type="text" name="apellido"></td>
			  			</tr>
			  			<tr>
			  				<th>Email: </th>
			  				<td><input type="text" name="email"></td>
			  			</tr>
			  			<tr>
			  				<th>Mensaje: </th>
			  				<td><textarea rows="6" cols="74"></textarea></td>
			  			</tr>
			  			<tr>
			  				<td colspan="2"><button>Enviar</button></td>
			  			</tr>
			  		</table>
			  	</form>
			</section>
		</div>

		<footer>
			<div id="pie">
				<p>
			        Desarrollado por:<br> Jonathan Matute &#8226; Doménica Merchán &#8226; Mark Orellana &#8226; René Panjón &#8226; John Tenesaca
			    </p>
			    <a href="https://www.ups.edu.ec" target="_blank"><img style="width: 150px" src="img/ups.png" alt="logo de la Universidad Politecnica Salesiana"></a>
			    <p><sub>&#169;</sub><em> Todos los derechos reservados</em></p>
			    <br>
			</div>
		</footer>

	</body>
</html>