
@media (min-width: 768px) {
  .sppb-lead {
    font-size: 21px;
  }
}
.sppb-text-left {
  text-align: left;
}
.sppb-text-right {
  text-align: right;
}
.sppb-text-center {
  text-align: center;
}

@media (min-width: 992px) {
  .sppb-col-md-1, .sppb-col-md-2, .sppb-col-md-3, .sppb-col-md-4, .sppb-col-md-5, .sppb-col-md-6, .sppb-col-md-7, .sppb-col-md-8, .sppb-col-md-9, .sppb-col-md-10, .sppb-col-md-11, .sppb-col-md-12 {
    float: left;
  }
  .sppb-col-md-12 {
    width: 100%;
  }
  .sppb-col-md-7 {
    width: 58.33333333%;
  }
  .sppb-col-md-5 {
    width: 41.66666667%;
  }

  .sppb-equalize-columns .sppb-row > div.sppb-col-md-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .sppb-equalize-columns .sppb-row > div.sppb-col-md-7 {
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
  }

  .sppb-equalize-columns .sppb-row > div.sppb-col-md-5 {
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
  }
  
  .sppb-col-md-push-12 {
    left: 100%;
  }
 
  .sppb-col-md-push-7 {
    left: 58.33333333%;
  }
 
  .sppb-col-md-push-5 {
    left: 41.66666667%;
  }

  .sppb-col-md-offset-12 {
    margin-left: 100%;
  }

  .sppb-col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .sppb-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
}
@media (min-width: 1200px) {
  .sppb-col-lg-1, .sppb-col-lg-2, .sppb-col-lg-3, .sppb-col-lg-4, .sppb-col-lg-5, .sppb-col-lg-6, .sppb-col-lg-7, .sppb-col-lg-8, .sppb-col-lg-9, .sppb-col-lg-10, .sppb-col-lg-11, .sppb-col-lg-12 {
    float: left;
  }
  .sppb-col-lg-12 {
    width: 100%;
  }

  .sppb-col-lg-7 {
    width: 58.33333333%;
  }
  
  .sppb-col-lg-5 {
    width: 41.66666667%;
  }
 
  .sppb-equalize-columns .sppb-row > div.sppb-col-lg-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
 
  .sppb-equalize-columns .sppb-row > div.sppb-col-lg-7 {
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
  }

  .sppb-equalize-columns .sppb-row > div.sppb-col-lg-5 {
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
  } }
  
.sppb-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: pre-line;
  padding: 7px 14px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sppb-btn:focus,
.sppb-btn:active:focus,
.sppb-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.sppb-btn:hover,
.sppb-btn:focus {
  color: #333333;
  text-decoration: none;
}
.sppb-btn:active,
.sppb-btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.sppb-btn.disabled,
.sppb-btn[disabled],
fieldset[disabled] .sppb-btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sppb-btn-default {
  color: #666;
  background-color: #E0E1E2;
}

.sppb-btn-default:hover,
.sppb-btn-default:focus,
.sppb-btn-default:active,
.sppb-btn-default.active,
.open > .dropdown-toggle.sppb-btn-default {
  color: #333333;
  background-color: #CACBCD;
}

.sppb-btn-default.sppb-btn-outline {
  border-color: #333333;
}

.sppb-btn-default.sppb-btn-outline:hover,
.sppb-btn-default.sppb-btn-outline:focus,
.sppb-btn-default.sppb-btn-outline:active,
.sppb-btn-default.sppb-btn-outline.active,
.open > .dropdown-toggle.sppb-btn-default.sppb-btn-outline {
  color: #fff;
  border-color: #333333;
  background-color: #333333;
}

.sppb-btn-default.sppb-btn-3d {
  border-bottom-color: #CACBCD;
}
.sppb-btn-default.sppb-btn-3d:hover,
.sppb-btn-default.sppb-btn-3d:focus,
.sppb-btn-default.sppb-btn-3d:active,
.sppb-btn-default.sppb-btn-3d.active,
.open > .dropdown-toggle.sppb-btn-default.sppb-btn-3d {
  background: #CACBCD;
  color: #333333;
  border-bottom-color: #CACBCD;
}

.sppb-btn-default:active,
.sppb-btn-default.active,
.open > .dropdown-toggle.sppb-btn-default {
  background-image: none;
}

.clearfix:before,
.clearfix:after,
.sppb-container:before,
.sppb-container:after,
.sppb-container-fluid:before,
.sppb-container-fluid:after,
.sppb-row:before,
.sppb-row:after,
.sp-pagebuilder-row:before,
.sp-pagebuilder-row:after,
.sppb-panel-body:before,
.sppb-panel-body:after,
.sppb-nav:before,
.sppb-nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.sppb-container:after,
.sppb-container-fluid:after,
.sppb-row:after,
.sp-pagebuilder-row:after,
.sppb-panel-body:after,
.sppb-nav:after {
  clear: both;
}
