* {
	font-family: Times;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	color: black;
}

#seccion_index {
	float: left;
	width: 75%;
  margin-left: 2%;
  position: relative;
  padding: 50px 0px;
}


#seccion_nav {
	background-color:  rgba(230, 177, 78, 0.3);
	border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  clear: both;
	float: left;
  width: 20%;
  position: relative;
  top: 40px;
  
}

#seccion_nav a {
	padding: 5px 3px;
	width: 10%;
	display: block;	
}

#seccion_nav a:active {
	background-color:red;
	color: white;
}

#seccion_nav h3 {
	background-color: rgb(0, 0, 0);
	padding: 15px 30px;
	margin-top: 0px;
	color: white;
}

