#sucursales {
	width: 25%;
	height: 76vh;
	float: left;
	border-right: 15px solid white;
	border-style: ridge;
	z-index: 10;
	margin-top: 8px;
}

#sucursales #ruta {
	border-radius: 3px;
	margin: 20px;
}

#sucursales .su {
	cursor: pointer;
	border: 1px solid black;
	transition: all .5s ease-in-out;
	margin: 10px 10px 0px 20px;
	padding: 10px;
}

#sucursales .su:hover {
	transform: scale(1.08);
}

#sucursales i {
	color: orange;
}

.oculto {
	display: none;
}

.imgSu {
	width: 50%;
	float: left;
	height: 80px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 15px;
}

#mapa {
	width: 73%;
	height: 76vh;
	float: left;
	margin-top: 8px;
}


/*-------------------------------------Calificar-------------------------------------*/


#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
}

#form p {
 	text-align: center;
}

#form label {
 	font-size: 20px;
}

input[type="radio"] {
 	display: none;
}

label {
 	color: grey;
}

.clasificacion {
 	direction: rtl;
 	unicode-bidi: bidi-override;
}

label:hover, label:hover ~ label {
 	color: orange;
}

input[type="radio"]:checked ~ label {
 	color: orange;
}