#title {
	margin-left: 20px;
}

#formulario {
	margin-right: auto;
	margin-left: auto;
	padding: 25px;
	width: 525px;
	border: 1px solid black;
	border-radius: 5px;
}

label {
	font-style: bold;
}

.input {
	width: 400px;
}

textarea {
	width: 400px;
}

#button {
	text-align: center;
	padding-top: 25px;
}