ul {
  list-style:none;
  margin: 0;
}

.informacion {
  width: 100%;
}

.informacion th {
  font-size: 18px;
  text-align: left;
}

.informacion td {
  font-size: 12px;
  text-align: right;
}

.btn {
  border-top: 1px solid white;
  background-color: rgba(154, 187, 181, 0.2);
  width: 100%;
  height: 50px;
}

.btn2 {
  border-top: 1px solid white;
  background-color: rgba(154, 187, 181, 0.2);
  width: 40%;
  padding: 5px;
  margin: 5px;
}

.btn:hover {
  background-color: rgba(154, 187, 181, 0.6) !important; 
  cursor: pointer;
}

.btn2:hover {
  background-color: rgba(154, 187, 181, 0.6) !important; 
  cursor: pointer;
}

#sec1 {
  width: 25%;
  height: 100%;
  float: left;
  padding: 20px 0px 0px 15px;
  box-shadow: 0px 15px 25px 0 rgba(63, 63, 63, 0.3);
  margin-top: -15px;
}

#sec2 {
  width: 70%;
  float: left;
  padding: 20px 0px 0px 15px;
}

#sec2 #from {
  width: 100%;
  padding: 0px 0px 0px 15px;
  border-bottom: 1px solid rgba(154, 187, 181, 0.2);
}
#sec2 #mensaje {
  width: 100%;
  padding: 15px 0px 0px 15px;
  border-bottom: 1px solid rgba(154, 187, 181, 0.2);
}

#sec2 #ansT {
  display: none;
  width: 100%;
  height: 100px;
}

#sec2 #ansB {
  display: none;
}

#nuevo {
  width: 98%;
  padding: 60px 15px;
}

#nuevo table {
  width: 100%;
}

#nuevo table th {
  text-align: left;
  width: 70px;
}

#submit {
  margin: 20px;
}

.btn_noborder, #mensaje {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  resize: none;
}