

.tabla {
	width: 100%; 
	border: 1px solid #000;
 }
 tr, td {
	width: 25%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0.3em;
	caption-side: bottom;
 }
 caption {
	padding: 0.3em;
	color: #fff;
	 background: #000;
 }
 tr {
	background: #eee;
 }
