

table th {
	text-align: left;
	width: 100px;
	padding: 5px 0px;
}

table input {
	width: 100%;
	border-top: none;
	border-right: none;
	border-left: none;
}

#change {
	width: 60%;
	padding: 5px;
}

#modificar, #cancelar {
	width: 42%;
	padding: 5px;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 3px;
}