body{
    background-color: #2A343D;
}
#panelInicial{
    width: 450px;
    padding: 30px 55px 30px 55px;
    margin-left: 30%;
    background-color: #F4F4F4;
}
#titulo{
    display: block;
    font-family: sans-serif;
    font-size: 39px;
    color: white;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
}
#label1{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}
#cedula{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#nombres{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#apellidos{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#direccion{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#telefono{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#fechaNacimiento{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#correo{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#contrasena{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#contrasena1{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#contrasena2{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}
#submit{
    margin-top: 5%;
    padding: 0 20px;
    width: 25%;
    height: 50px;
    background-color: #333333;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin-left: 25%;
}
#submit:hover{
    background-color: #ED3B58;
}
#cancelar{
    margin-top: 5%;
    padding: 0 20px;
    width: 25%;
    height: 50px;
    background-color: #333333;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}
#cancelar:hover{
    background-color: #ED3B58;
}