body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 251);
}

#banner {
	background-image: url(../../../../config/img/banner.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#gradient {
	background-color: rgba(0,0,0,0.6);
	height: 125px;
	margin-top: -125px;
}

header {
	height: 155px;
}

header #banner {
	height: 125px;
}

header img {
	width: 70%;
	margin-top: 10px;
	margin-left: 60px;
	margin-bottom: 20px;
}


header i {
	float: right;
	margin-top: -30px;
	margin-right: 20px;
	color: rgb(191, 215, 58);
}

.navHeader {
	padding-top: 0px;
  	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19);
  	clear: both;
  	z-index: 1;
}

.navFixed {
	position: fixed;
	top: 0;
    background-color: rgb(255, 255, 251);
    width: 100%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    border-top: 2px solid rgb(191, 215, 58);
    border-bottom: 2px solid rgb(191, 215, 58);
}

header li {
     display: inline;
}

header li a {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 0px 10px;
	margin: 3px;
	width: 100px;
	height: 26px;
	transform: skewX(-25deg);
}

header p {
	transform: skewX(25deg);
	margin: 5px 0px;
	font-size: 15px;
}

header a:hover {
	color: white;
	background-color: rgb(63, 63, 63);
}


#tituloIndex{
    width: 100%;
}
#tituloIndex h1{
    transform: skewX(25deg);
	margin: 5px 0px;
	font-size: 50px;
	text-align: center;
}


#cargar_imagen img{
	display:block;
margin:auto;
}
#cargar_usuario p{
	transform: skewX(25deg);
	margin: 5px 0px;
	font-size: 25px;
	text-align:left;	
    line-height: 50pt;        /* para ;la separacion entre lineas */  
    background-color:antiquewhite;
}
#modificar
{
	margin: 5px 0px;
	font-size: 25px;
	margin-left: 40%;
	width:300px;


}
#modificar a
{
	line-height: 50pt;   
	border:1px solid #3c6;
	background-color:antiquewhite;

}

#modificar a:hover
{
	transform: skewX(25deg);
	margin: 5px 0px;
	font-size: 50px;
	color: rgb(0, 0, 0);
	background-color:antiquewhite;
}








footer {
	margin-top: 15px;
	text-align: center;
	clear: both;
	background-image: url("../../../../config/img/footer.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color:  rgba(0,0,0,0.6);
	color: white;
}

footer div {
	margin-right: auto;
	margin-left: auto;
	max-width: 80%;
}

footer a {
	color:aqua;
	text-decoration: none;
}

#pie {
	padding-top: 60px;
}
